.server-loading-container{
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0px;
    top :0px ;
    width: 100vw;


    height: 100vh;
    background-color: gray;
    opacity: 0.7;
    &-title{
        text-transform: uppercase;
        color: white;
        font-size: 20px;
        margin-top: 10px;

    }

 


}