@import '../../../vars.scss';


.order-submitter{
    display: flex;
    flex-direction: column;
    width: 100%;
    &-title{
        @include table-title() ;
    }
    &-actions{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
        &-submit{
            @include table-action-btn($dark_color) ;
            margin-bottom: 5px ;
        }
        &-cancel{
            @include table-action-btn($third_color) ;
        }
    }

}