$primary_color : #276629 ;
$dark_color : #0C4110 ;
$secondary_color : white  ;
$third_color : #3C3C3C ;


@mixin table-action-btn($background-color) {
    width: 100%;
    background-color: $background-color;
    color : $secondary_color ;
    border: none ;
    border-radius : 5px ;
    padding : 8px 0px ;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

@mixin table-title() {
    font-size: 20px;
    text-transform: uppercase;
    margin: 5px 0px; 
    color: $third_color;
    font-weight: 500;
}

@mixin basic-card() {
    border-top: 1px solid #A0A0A0 ;
    border-left: 1px solid #E6E4E4;
    border-right: 1px solid #E6E4E4 ;
    border-bottom: 1px solid #A0A0A0 ;
    border-radius: 5px;
}