@import '../../../../vars.scss' ;

.order-loader-form-container{
    height: 100vh;
    width : 100% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    i{
        font-size: 100px;
        margin-bottom: 30px;
        color : $third_color ;
    }
    .form-group{
        width: 50%;
        input{
       
            margin-bottom: 10px;
            &::-webkit-inner-spin-button {
                opacity: 1
            }
        }
    }

    button{
        width: 50%;
        border : none ;
        height: 35px;
        background-color: $dark_color;
        color : $secondary_color ;
        border-radius : 5px ;
    }
}