@import '../../../vars.scss';

.generic-table{
   
    font-size: 15px;
   
    thead{
        background-color: $primary_color;
        color : $secondary_color ;
       
        th:first-child{
            border-radius: 5px 0px 0px 0px ;
        }
        th:last-child{
            border-radius: 0px 5px 0px 0px ;
        }
        th{
            font-weight: 500;
            text-transform: uppercase;
           
        }
    }

    &-highlight{
        color : white  ;
        padding: 5px 20px;
        border-radius: 5px;
    }

}